



 <h4>Attached Media Objects</h4>
<table>
<tr>
  <th></th>
  <th>Name</th>
  <th>Short name</th>
  <th>URL</th>

</tr>
<% @media_objects.each do |media_object| %>
<tr>
  <td><%= link_to image_tag(media_object.thumbnail.url(:medium), :border=>0),"#{media_object.url}", :class=>"lightview",
          :title=>"#{media_object.short_name}:: :: width: #{media_object.object_width}, height: #{media_object.object_height}"  %>
  </td>
  <td><%=h media_object.name %></td>
  <td><%=h media_object.short_name %></td>
  <td><%=h media_object.url %></td>
  <td>
      
  </td>
</tr>
 <% end %>
</table>

<%= link_to 'Edit Media-Object Assignment', url_for(:controller=>"dialogue_lines",:action=>"select_media_objects",
  :section_id=>@section,:room_id=>@room,:id=>@dialogue_line)%>
 
