<h1>Editing media_object</h1>

<% form_for([@section,@room,@dialogue_line,@media_object], :html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>
  <p><label for="thumbnail">Upload an image:</label><br />
    <%= f.file_field :thumbnail %>
  </p>

  If you want to embed a video from YouTube or Google, include the embed URL below, *not* the watch URL.
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  
  <p>
    <%= f.label :object_width %><br />
    <%= f.text_field :object_width %>
  </p>
  <p>
    <%= f.label :object_height %><br />
    <%= f.text_field :object_height %>
  </p>
  <p>
    <%= f.submit 'Update' %><%= link_to_remote "Close window",:url=>{:action=>"close_lightview"} -%>
  </p>
<% end %>