<h1>New media_object</h1>

<% form_for(@media_object, :html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>
<p>&#42;=required field</p>




  <p>
    &#42;<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

   
  <p>
    &#42;<%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>

<div id="selection_wrapper">


<p><label for="thumbnail">Upload an image:</label><br />
    &#42;<%= f.file_field :thumbnail %>
  </p>

  <p>
    <%= f.check_box :image_object %>Use the image I upload as my media object
  </p>
  


</div>

  



  <p>If you want to embed a video from YouTube or Google, include the <em>embed</em> URL below, <em>not</em> the watch URL.</p>
  
  

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>


  <p>
    <%= f.label :object_width %><br />
    <%= f.text_field :object_width %>
  </p>

  <p>
    <%= f.label :object_height %><br />
    <%= f.text_field :object_height %>
  </p>





  <p>
    <%= f.submit 'Create'-%><%= link_to_remote "Close window",:url=>{:action=>"close_lightview"} -%>


  </p>

  
<% end %>

