<p>
  <b>Name:</b>
  <%=h @media_object.name %>
</p>

<p>
  <b>Short name:</b>
  <%=h @media_object.short_name %>
</p>

<p>
  <b>Dialogue line:</b>
  <%=h @media_object.dialogue_line_id %>
</p>

<p>
  <b>Thumbnail file name:</b>
  <%=h @media_object.thumbnail_file_name %>
</p>

<p>
  <b>Thumbnail content type:</b>
  <%=h @media_object.thumbnail_content_type %>
</p>

<p>
  <b>Thumbnail file size:</b>
  <%=h @media_object.thumbnail_file_size %>
</p>

<p>
  <b>Thumbnail updated at:</b>
  <%=h @media_object.thumbnail_updated_at %>
</p>

<p>
  <b>Url:</b>
  <%=h @media_object.url %>
</p>

<p>
  <b>Object width:</b>
  <%=h @media_object.object_width %>
</p>

<p>
  <b>Object height:</b>
  <%=h @media_object.object_height %>
</p>


<%= link_to 'Edit', edit_media_object_path(@media_object) %> |
<%= link_to 'Back', media_objects_path %>