<h1>Editing game_robot</h1>

<% form_for(@game_robot,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>

  <p>
Current thumbnail or image:<br>
  <%= image_tag @game_robot.thumbnail.url(:small) %>
</p>
  
  <p><label for="thumbnail">Upload a new image:</label>
    <%= f.file_field :thumbnail %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

  <%= link_to 'Back', game_robots_path %>

