<h1>Listing game_robots</h1>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    
  </tr>

<% @game_robots.each do |game_robot| %>
  <tr>
    <td><%= image_tag game_robot.thumbnail.url(:small) %></td>
    <td><%=h game_robot.name %></td>
    
    <td><%= link_to 'Edit', edit_game_robot_path(game_robot) %></td>
    <td><%= link_to 'Destroy', game_robot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%=link_to "New game robot", new_game_robot_path %>

