<h1>New game_robot</h1>

<% form_for(@game_robot,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>


  <p><label for="thumbnail">Upload an image:</label>
    <%= f.file_field :thumbnail %>
  </p>



  <p>
    <%= f.submit 'Create'-%><%= link_to_remote "Close window",:url=>{:action=>"close_lightview"} -%>
    


  </p>


<% end %>