<p>
  <b>Player name:</b>
  <%=h @game.short_name %>
</p>

<p>
  <b>Current room:</b>
  <%=h @game.current_room %>
</p>

<p>
  <b>Finished:</b>
  <%=h @game.finished %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>