<li class="dialogue_line"><%= avatar.short_name %>: <%= dialogue_line.content %>
  </li>
  <ul id="responses">
<% unless responses.empty? %>
  <% for response in responses do %>


    <%  responder = response.line_generator_type.constantize.find(:first,
    :conditions=>["id=?", response.line_generator_id]) %>


      <li class="response">
      <%=  image_tag(responder.thumbnail.url(:small))%>
      <%= link_to_remote  (response.content),
        :url => {:action => 'generate_dialogue'},
        :with => "'id='+#{(response.id)}" %>
      </li>
  <% end %>
<% else %>
    <li class="response"><%= link_to_remote "End Conversation",
        :url => {:action => 'generate_dialogue'},
        :with => "'id='+#{(dialogue_line.id)}" %>
    </li>
<% end %>
  </ul>
