<% #Generates the avatars for media objects TODO refactor this and the other avatar partial into helpers -%>

 <% if media_avatar.image_object == true -%>

  <div class="<%= media_avatar.class.to_s.downcase %>" id="<%= "#{media_avatar.class.to_s.downcase}_#{media_avatar.id}" %>">
    <%= link_to image_tag(media_avatar.thumbnail.url(:medium)),
        #fixed_paperclip_route(media_avatar), # Uncomment this line in production
        media_avatar.thumbnail.url, # Comment this line in production
        :class => "lightview",
        :rel => "image",
        :title => h(media_avatar.name) %>
    <h3>
    <%= link_to h(truncate(media_avatar.short_name, :length => 14)),
        #fixed_paperclip_route(media_avatar), # Uncomment this line in production
        media_avatar.thumbnail.url, # Comment this line in production
        :class => "lightview",
        :rel => "image",
        :title => h(media_avatar.name) %>
    </h3>
  </div>

<%  else -%>

  <div class="<%= media_avatar.class.to_s.downcase %>" id="<%= "#{media_avatar.class.to_s.downcase}_#{media_avatar.id}" %>">
    <%= link_to image_tag(media_avatar.thumbnail.url(:medium)),
        media_avatar.url,
        :class => "lightview",
        :rel => "iframe",
        :title => h(media_avatar.name) + ':: :: width: '+ media_avatar.object_width.to_s + ', height: ' + media_avatar.object_height.to_s  %>
    <h3>
    <%= link_to h(truncate(media_avatar.short_name, :length => 14)),
        media_avatar.url,
        :class => "lightview",
        :rel => "iframe",
        :title => h(media_avatar.name) + ':: :: width: '+ media_avatar.object_width.to_s + ', height: ' + media_avatar.object_height.to_s  %>
    </h3>
  </div>
  
<% end -%>
