
<div id="header">

  <%  if @room_root.nil? %><h1><%= link_to "Add dialogue", section_room_dialogue_lines_path(@section, @room) %></h1><% end %>
  <div id="heads_up_area">
    <%= render :partial => 'worldmap' %>
    <%= render :partial => 'minimap' %>
    <%= render :partial => 'compass', :locals => {
      :top_entrance => @top_entrance,
      :left_entrance => @left_entrance,
      :right_exit => @right_exit,
      :bottom_exit => @bottom_exit
      }
    %>
  </div>

  <h1 id="title"><%= @room.name %></h1>

</div>



<div id="content">
  <div id="avatars_area">

   <h2>People in this room</h2>
    <div id="avatars_window">

    <%if @guides.size > 0 %>
      <!-- <div class="avatar_group" id="guides_div"> -->
      <!-- <h2>Guides</h2> -->
      <%= render :partial => 'avatar', :collection => @guides, :locals => { :room => @room } %>
      <!-- </div> -->
    <% end %>

    <% if @speakers.size > 0 %>
      <!-- <div class="avatar_group" id="speakers_div"> -->
      <!-- <h2>Speakers</h2> -->
      <%= render :partial => 'avatar', :collection => @speakers, :locals => { :room => @room } %>
      <!-- </div> -->
    <% end %>
    </div>
  </div>

  

  <div id="dialogue_area">
    <h2>Chat</h2>

    <div id="dialogue_window">
      
      <div class="dialogue_line" id="dialogue_root"><%= (@room_root.content) unless @room_root.nil? %></div>
      
    </div>

    <div id="response_window">
      When you have conversation options, your choices will appear here...
    </div>


  </div>

  
    <div id="media_window">
    <h2>Media in this room</h2>
      <div class="avatar_group" id="media_objects_div">

        <%= render :partial => 'media_avatar', :locals=>{:media_objects=>@media_objects} %>

        

      </div>
    </div>
  

</div>
  