<%if session[:authenticated]=="yes" %>

<%=render :partial=>'dialogue_lines/add_generators'%>

<%end%>





<div id="header">

  <h1 id="title"><%= @room.name %></h1>

  <%  unless @game %><h1>You are not currently in a <%= link_to "live game", games_path %>. Many parts of the interface will not work.</h1><% end %>
  <%  if @room_root.nil? %><h1><%= link_to "Add dialogue", section_room_dialogue_lines_path(@section, @room) %></h1><% end %>

  <div id="heads_up_area">
    <%= render :partial => 'worldmap' %>
    <%= render :partial => 'minimap' %>
    <%= render :partial => 'compass', :locals => {
      :top_entrance => @top_entrance,
      :left_entrance => @left_entrance,
      :right_exit => @right_exit,
      :bottom_exit => @bottom_exit
      }
    %>
  </div>

</div>



<div id="content">
  <div id="avatars_area">

   <h2>People in this room</h2>

    <div id="avatars_window">
    <div id="click_blocker" style="display:none;"></div>
    <% if @guides.size > 0 %>

      <%= render :partial => 'avatar', :collection => @guides, :locals => { :room => @room } %>

    <% end %>

    <% if @speakers.size > 0 %>

      <%= render :partial => 'avatar', :collection => @speakers, :locals => { :room => @room } %>

    <% end %>

    </div>
  </div>

  

  <div id="dialogue_area">
    <h2>Chat</h2>

    <div id="dialogue_window">
      
      <%= render :partial => 'dialogue_line', :locals => {
          :dialogue_line => @room_root,
          :d_time_stamp => dialogue_time_stamp,
          :avatar => @room_root.line_generator,
          :avatar_thumbnail => @room_root.line_generator.thumbnail.url(:small)} unless @room_root.nil? %>
      
    </div>

    <div id="response_window">
      <h2>Player Responses</h2>
    </div>
    
    <div id="player_avatar_box">
      <%= avatar_div(@game) %>
    </div>

</div>

  
    <div id="media_area">
    <h2>Media in this room</h2>
      <div id="media_window">

        <%= render :partial => 'media_avatar', :collection => @media_objects unless @media_objects.nil? %>

      </div>
    </div>
  

</div>
  