<div id="build_menu" class="build_menu">

  <h3>Build Menu</h3>

<%current_uri = request.env['PATH_INFO']%>

  <% if current_uri =~/rooms\//  %>

    <%my_room="no"%>
  <%else  %>
    <%my_room="yes"%>
  <%end%>

<% if current_uri!="/sections" && my_room!="yes"%>
     Lines:<br />
    <%= link_to 'New line for this room', new_section_room_dialogue_line_path(@section,@room) -%>

    
    <br />
    <br />
    
    <%= link_to 'Line list for this room',  section_room_dialogue_lines_path(@section,@room) %>
    <br />
    <br />
    Sections:<br />
    <%= link_to 'All sections in game', sections_path -%>

    <br />
    <br />
    Rooms:<br />
    <%= link_to 'Rooms in this section', section_rooms_path(@section) -%>


    <br />
    <br />


    <%end%>
    Guides:<br />
    <%=link_to  "New", new_guide_path, :class=>"lightview",:rel=>"iframe", :title=>"Guides:: :: width: 400, height: 800"  %>
    &nbsp;|
    <%=link_to  "Edit/Destroy", guides_path, :class=>"lightview",:rel=>"iframe", :title=>"Guides:: :: width: 400, height: 800"  %>

    <br />
    Speakers:<br />
    <%=link_to  "New", new_speaker_path, :class=>"lightview",:rel=>"iframe", :title=>"Speakers:: :: width: 400, height: 800"  %>
    &nbsp;|

    <%=link_to  "Edit/Destroy", speakers_path, :class=>"lightview",:rel=>"iframe", :title=>"Speakers:: :: width: 400, height: 800"  %>

    <br />
    Media Objects:<br />
    <%=link_to  "New", new_media_object_path, :class=>"lightview",:rel=>"iframe", :title=>"Media Objects:: :: width: 400, height: 800"  %>
    &nbsp;|
    <%=link_to  "Edit/Destroy", media_objects_path, :class=>"lightview",:rel=>"iframe", :title=>"Media Objects:: :: width: 400, height: 800"  %>
    <br />
    
    
    Game Robots:<br />
    <%=link_to  "New", new_game_robot_path, :class=>"lightview",:rel=>"iframe", :title=>"Game Robots:: :: width: 400, height: 400"  %>
    &nbsp;|
    <%=link_to  "Edit/Destroy", game_robots_path, :class=>"lightview",:rel=>"iframe", :title=>"Game Robots:: :: width: 400, height: 400"  %>



    <br />
    


    

  </div>
