<div id="build_menu" class="build_menu">

  <h3>Build Menu</h3>

  
    <%= link_to 'New Line', new_section_room_dialogue_line_path(@section,@room) -%>


    <br />
    <%= link_to 'Line List for Room',  section_room_dialogue_lines_path(@section,@room) %>
    <br />

    <%= link_to 'Section Map', section_rooms_path(@section) -%>


    <br />
    <br />
    Guides:<br />
    <%=link_to  "New", new_guide_path, :class=>"lightview", :title=>"Guides:: :: width: 400, height: 800"  %>
    &nbsp;|
    <%=link_to  "Edit/Destroy", guides_path, :class=>"lightview", :title=>"Guides:: :: width: 400, height: 800"  %>

    <br />
    Speakers:<br />
    <%=link_to  "New", new_speaker_path, :class=>"lightview", :title=>"Speakers:: :: width: 400, height: 800"  %>
    &nbsp;|

    <%=link_to  "Edit/Destroy", speakers_path, :class=>"lightview", :title=>"Speakers:: :: width: 400, height: 800"  %>

    <br />
    Media Objects:<br />
    <%=link_to  "New", new_media_object_path, :class=>"lightview", :title=>"Media Objects:: :: width: 300, height: 800"  %>
    &nbsp;|
    <%=link_to  "Edit/Destroy", media_objects_path, :class=>"lightview", :title=>"Media Objects:: :: width: 300, height: 800"  %>
    <br />
    
    
    Game Robots:<br />
    <%=link_to  "New", new_game_robot_path, :class=>"lightview", :title=>"Game Robots:: :: width: 400, height: 400"  %>
    &nbsp;|
    <%=link_to  "Edit/Destroy", game_robots_path, :class=>"lightview", :title=>"Game Robots:: :: width: 400, height: 400"  %>



    <br />
    


    

  </div>
