Select media objects.  If you don't want to make changes, click Select to return to the previous page.

<% form_for([@section,@room,@dialogue_line]) do |f|  %>

<%= hidden_field_tag "dialogue_line[media_object_ids][]", "" %>
<table>
<% for media_object in MediaObject.find(:all) %>

<tr>

    <td><%= check_box_tag "dialogue_line[media_object_ids][]", media_object.id, @dialogue_line.media_objects.include?(media_object) %>
    </td>

<td><%= link_to image_tag(media_object.thumbnail.url(:medium), :border=>0),"#{media_object.url}", :class=>"lightview",
          :title=>"#{media_object.short_name}:: :: width: #{media_object.object_width}, height: #{media_object.object_height}"  %>
  </td>
  <td><%=h media_object.name %>
    </td>
  <td><%=h media_object.short_name %>
    </td>
  <td><%=h media_object.url %>
    </td>

</tr>
  <% end %>


  

</table>
<%= f.submit 'Select' %>
<% end %>

  