<h1>New guide</h1>

<% form_for(@guide, :html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>
  <p>&#42;=required field</p>
  <p>
    &#42;<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    &#42;<%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>
   <p>&#42;<label for="thumbnail">Upload an image:</label><br />
    <%= f.file_field :thumbnail %>
  </p>
  <p>
    <%= f.submit 'Create'-%><%= link_to_remote "Close window",:url=>{:action=>"close_lightview"} -%>


  </p>


<% end %>