<h1>Editing speaker</h1>

<p>
Current thumbnail or image:<br>
  <%= image_tag @speaker.thumbnail.url(:medium) %>
</p>

<% form_for(@speaker,:html=>{:multipart=>true} ) do |f| %>
  <%= f.error_messages %>
  <p>&#42;=required field</p>
  <p>
    &#42;<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    &#42;<%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>
  <p>
    &#42;<%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    &#42;<%= f.label :source_name %><br />
    <%= f.text_field :source_name %>
  </p>
  <p>
    <%= f.label :source_type %><br />
    <%= f.text_field :source_type %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
 <p>&#42;<label for="thumbnail">Upload an image:</label> <!-- TODO: Add a display if an image already exists -->
    <%= f.file_field :thumbnail %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>


<%= link_to 'Back', speakers_path %>