<h1>Listing speakers</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Title</th>
    <th>Source name</th>
    
  </tr>

<% @speakers.each do |speaker| %>
  <tr>
    <td><%= image_tag speaker.thumbnail.url(:small) %></td>
    <td><%=h speaker.name %></td>
    <td><%=h speaker.title %></td>
    <td><%=h speaker.source_name %></td>
    
    
    <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
    <td><%= link_to 'Destroy', speaker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%=link_to "New speaker", new_speaker_path %>


