<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


  <script type="text/javascript" charset="utf-8">
        var Scriptaculous = { Version: '1.8.1' };
    </script>

    <%= javascript_include_tag(:all, :cache => true) %>



  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "lightview"  %>
</head>
  <body>
    <%= render_flash_messages(div_id="flashMessages", div_class="headerMessage") %>
    <div id="content_wrapper">
      <%= yield %>
    </div>
  </body>

</html>
